<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982306404402-gfg24a4i3pb71gte9cj9ultd6e823dc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982306404402-gfg24a4i3pb71gte9cj9ultd6e823dc6</string>
	<key>API_KEY</key>
	<string>AIzaSyCxMRgLWTk64KLApXNTn1tdS8bHOpL5LHU</string>
	<key>GCM_SENDER_ID</key>
	<string>982306404402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henriquemarques.Ulife</string>
	<key>PROJECT_ID</key>
	<string>ulife-7fa01</string>
	<key>STORAGE_BUCKET</key>
	<string>ulife-7fa01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982306404402:ios:38d43be7fdfafb68ebe42b</string>
</dict>
</plist>